
	/* Mobil Horitzontal*/
			

@media only screen and (max-width: 767px) and (orientation: landscape)

{
		#menuarriba {
			min-height: 70px;
			height: 30%;		
			overflow: hidden;
			background-repeat: no-repeat;

		}

		#imgfons1 {
			background-image: url(Images/Cabecera/img3fons1.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}
		#imgfons2 {
			background-image: url(Images/Cabecera/img3fons2.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}
		#imgfons3 {
			background-image: url(Images/Cabecera/img3fons3.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}
		#imgfons4 {
			background-image: url(Images/Cabecera/img3fons4.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}
		#imgfons5 {
			background-image: url(Images/Cabecera/img3fons5.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}

		#cuadrotitol {
			position: absolute;
			width: 100%;
			margin-top: 1.3em;
			height: 3em;
			background-color: rgba(0,0,0,0.5);
		}

		#titol {
			font-size: 2em;
			color: #fff;
			margin-top: 0.2em;
			user-select: none;
		}
			
		#menulateral {
			background-color: #2E2E2E;
			overflow-y: auto;
			overflow-x: hidden;
			float: none;
		}

		#burguer {
			width: 100%;
			height: 3em;
			position: absolute;
			left: -100%;
			margin: 0;
			padding: 0;
			transition: 0.5s;
			overflow-y: hidden;
			overflow-x: hidden;
		}

		#obri {
			background-color: rgba(255,255,255,0.8); ;
			position: absolute;
			cursor: pointer;
			margin: 0;
			margin-top: 4%;
			padding: 0;
			border-top-right-radius: 1em;
			border-bottom-right-radius: 1em;
			width: 1.5em;
			user-select: none;
		}

		#obri:hover {
			background-color: #2E2E2E;
			color: white;
		}

		#flecha {
			cursor: pointer;
			color: white;
			font-size: 20px;
			padding-bottom: 50px;
			user-select: none;
		}

		#flecha:hover {
			background-color: #808080;
			transition: 0.3s;
		}

		#flecha:active {
		 	background-color: #DD901D;
		 	transition: none;
		}

		ul {
			list-style-type: none;
			margin: 0 auto;
			padding: 0;
			background-color: #2E2E2E;
		}

		li {
		    float: left;
		}

		li a {
			font-size: 1em;
			display: block;
			text-align: left;
		    color: white;
		    padding: 0.8em 0.2em;
		    padding-bottom: 40px;
		    text-decoration: none;
			transition: 0.6s;
			user-select: none;
		}
		.button {
			cursor: pointer;
		  	text-decoration: none;
		  	outline: none;
		  	background-color: #2E2E2E;
		  	border: none;
		}

		.button:hover {
			background-color: #936520;
			transition: 0.6s;
		}

		.button:active {
			cursor: pointer;
		 	background-color: #DD901D;
		 	transform: translateY(0.2em);
		 	transition: none;
		}



		.contingut {
			background-image: url(Images/fondolandscape.jpg);
			height: 70%;
			overflow: auto;
		}

		.sobre {
			width: 80%;
			height: 90%;
			margin: 4% auto;
			font-family: Times;
			background-color: rgba(255,255,255,0.8);
			border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.sobre::-webkit-scrollbar {
			width: 2.2%;
			margin-right: 10px;
			background-color: #F8F8F8;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
			border-radius: 20px;
		}

		.sobre::-webkit-scrollbar-thumb {
			border-radius: 1em;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
			background-color: #CCCCCC;
		}

		.titulos {
			padding: 0.8em;
			cursor: default;
		}

		p {
			text-align: left;
			width: 80%;
			margin: 3% auto;
		}

		.textos {
			width: 80%;
			margin: 3% auto;
			text-align: justify;
		}

		.apartados {
			text-align: left;
			padding-left: 10%;
			color: rgb(198,129,24);
		}

		.subapartados {
			font-size: 1.2em;
			text-align: left;
			padding-left: 10%;
			margin-bottom: -4%;
		}

		.telfs {
			text-align: justify;
			width: auto;
			height: auto;
			background-color: rgba(63,165,53,0.19);
			padding-left: 10%;
		}

		.num {
			color: #344999;
			text-decoration: none;
			user-select: none;
		}

		.num:hover {
			color: #7484C7;
		}

		.tooltip {
	    position: relative;
	    display: inline-block;
		}

		.tooltip .tooltiptext {
		    visibility: hidden;
		    width: 110%;
		    background-color: #2E2E2E;
		    color: #fff;
		    text-align: center;
		    border-radius: 6px;
		    padding: 5px 0;
		    position: absolute;
		    z-index: 1;
		    bottom: 120%;
		    left: 40%;
		    margin-left: -45%;
		}

		.tooltip .tooltiptext::after {
		    content: "";
		    position: absolute;
		    top: 100%;
		    left: 50%;
		    margin-left: -5px;
		    border-width: 5px;
		    border-style: solid;
		    border-color: #2E2E2E transparent transparent transparent;
		}

		.tooltip:hover .tooltiptext {
		    visibility: visible;
		}

		#map {
		width: 80%;
		height: 200px;
		margin-left: 10%;
	}

		.imglistas {
			width: 80%;
			text-align: center;
			margin: 10px auto;
		}


	/* IMGS HISTORIA */

			#jaciments{
				background-image: url(Images/historia/jaciments2.jpg);
				margin: 0 auto;
				width: 350px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#guerraboer {
				background-image: url(Images/historia/guerraboer2.jpg);
				width: 220px;
				margin: 0 auto;
				height: 150px;
				background-repeat: no-repeat;
			}

			#imgaparteid {
				background-image: url(Images/historia/aparteid2.jpg);
				margin: 0 auto;
				width: 120px;
				height: 150px;
				background-repeat: no-repeat;
			}

		/* IMGS GEOGRAFIA */

			#mapageo {
				background-image: url(Images/geografia/mapageo2.png);
				margin: 0 auto;
				width: 194px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#mapapol {
				background-image: url(Images/geografia/mapapol2.png);
				margin: 0 auto;
				width: 300px;
				height: 260px;
				background-repeat: no-repeat;
			}

			#clima {
				background-image: url(Images/geografia/clima2.jpg);
				margin: 0 auto;
				width: 310px;
				height: 200px;
				background-repeat: no-repeat;
			}

			#orangeriver {
				background-image: url(Images/geografia/orangeriver2.jpg);
				margin: 0 auto;
				width: 309px;
				height: 160px;
				background-repeat: no-repeat;
			}

			#vaalriver {
				background-image: url(Images/geografia/vaalriver2.jpg);
				margin: 0 auto;
				width: 309px;
				height: 160px;
				background-repeat: no-repeat;
			}

			#limporiver {
				background-image: url(Images/geografia/limporiver2.jpg);
				margin: 0 auto;
				width: 309px;
				height: 160px;
				background-repeat: no-repeat;
			}

			#drakensimg {
				background-image: url(Images/geografia/drakensimg2.jpg);
				margin-top: -15px;
				margin: 0 auto;
				width: 666px;
				height: 300px;
				background-repeat: no-repeat;
			}


		/* IMGS FLORA Y FAUNA */

			#praderafif {
				background-image: url(Images/fif/praderafif2.jpg);
				margin-top: -15px;
				margin: 0 auto;
				width: 500px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#sabanafif {
				background-image: url(Images/fif/sabanafif2.jpg);
				margin-top: -15px;
				margin: 0 auto;
				width: 500px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#karoofif {
				background-image: url(Images/fif/karoofif2.jpg);
				margin-top: -15px;
				margin: 0 auto;
				width: 500px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#cgrandes {
				background-image: url(Images/fif/5grandes2.jpg);
				margin-top: -15px;
				margin: 0 auto;
				width: 400px;
				height: 250px;
				background-repeat: no-repeat;
			}

			#elefantefif {
				background-image: url(Images/fif/elefantefif2.jpg);
				margin: 0 auto;
				width: 300px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#leonfif {
				background-image: url(Images/fif/leonfif2.jpg);
				margin: 0 auto;
				width: 300px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#zebrafif {
				background-image: url(Images/fif/zebrafif2.jpg);
				margin: 0 auto;
				width: 300px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#hipofif {
				background-image: url(Images/fif/hipofif2.jpg);
				margin: 0 auto;
				width: 300px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#girafafif {
				background-image: url(Images/fif/girafafif2.jpg);
				margin: 3% auto;
				width: 300px;
				height: 150px;
				background-repeat: no-repeat;
			}


		/* IMGS CULTURA */

			#chozacul {
				background-image: url(Images/cultura/choza2.jpg);
				margin: 3% auto;
				width: 300px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#arte {
				background-image: url(Images/cultura/arte2.jpg);
				margin: 3% auto;
				width: 240px;
				height: 120px;
				background-repeat: no-repeat;
			}


		/* IMGS GASTRONOMIA */

			#comida1 {
				background-image: url(Images/gastro/comida1b.jpg);
				margin: 3% auto;
				width: 250px;
				height: 150px;
				background-repeat: no-repeat;
			}

			#comida2 {
				background-image: url(Images/gastro/comida2b.jpg);
				margin: 3% auto;
				width: 250px;
				height: 150px;
				background-repeat: no-repeat;
			}


		/* IMGS MAPAS */


			img {
			    border: 2px solid #ddd;
			    border-radius: 4px;
			    width: 150px;
			}

			img:hover {
			    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.8);
			}	

}
