
	body {
		background-color: black;
		text-align: center;
		margin: 0;
		border: 0;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		font-family: Times;
	}

	




/* Mobil */
@media only screen and (max-width: 767px) and (orientation: portrait)
	{
		#menuarriba {
			background-image: url(Images/cabeceraportrait.jpg);
			height: 12.5%;		
			overflow: hidden;
			background-repeat: no-repeat;

		}

		#cuadrotitol {
			background-color: rgba(0,0,0,0.4);
		}

		#titol {
			font-size: 1.5em;
			color: #fff;
			margin-top: 1em;
		}
			
		#menulateral {
			background-color: #2E2E2E;
			height: auto;
			overflow: hidden;
			}

		.contingut {
			background-image: url(Images/fondoportrait.jpg);
			height: 90%;
			overflow: auto;
		}

		.sobre {
			width: 80%;
			height: auto;
			max-height: 80%;
			margin: 4% auto;
			font-family: Times;
			background-color: rgba(255,255,255,0.8);
			border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			overflow: auto;
		}

		.sobre::-webkit-scrollbar {
			width: 2.5%;
			margin-right: 10px;
			background-color: #F8F8F8;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
			border-radius: 20px;
		}

		.sobre::-webkit-scrollbar-thumb {
			border-radius: 1em;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
			background-color: #CCCCCC;
		}

		.titulos {
			padding: 1em;
			cursor: default;
		}

		.textos {
			width: 80%;
			margin: 5% auto;
			margin-top: 1%;
			text-align: justify;
		}


		ul {

			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #2E2E2E;
		}

		li {
			float: left;
		}

		li a {

			display: inline-block;
		    color: white;
		    padding: 5px 8px;
		    text-decoration: none;
		}
		.button {

		  	text-decoration: none;
		  	color: #fff;
		  	background-color: #2E2E2E;
		  	border: none;
		}

		.button:hover {
			background-color: #936520;
			transition: 0.6s;

		}

		.button:active {
		 	background-color: #DD901D;
		 	transform: translateY(0.2em);
		 	transition: none;
		}

	}

@media only screen and (max-width: 767px) and (orientation: landscape)
	{
		#menuarriba {
			background-image: url(Images/cabeceralandscape.jpg);
			height: 20%;		
			overflow: hidden;
			background-repeat: no-repeat;

		}

		#cuadrotitol {
			background-color: rgba(0,0,0,0.4);
		}

		#titol {
			font-size: 1.5em;
			color: #fff;
		}
			
		#menulateral {
			background-color: #2E2E2E;
			width: 20%;
			height: 80%;
			float: left;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.contingut {
			background-image: url(Images/fondolandscape.jpg);
			width: 80%;
			height: 80%;
			float: left;
			overflow: auto;
		}

		.sobre {
			width: 80%;
			height: 90%;
			margin: 4% auto;
			font-family: Times;
			background-color: rgba(255,255,255,0.8);
			border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			overflow: auto;
		}

		.sobre::-webkit-scrollbar {
			width: 1.8%;
			margin-right: 10px;
			background-color: #F8F8F8;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
			border-radius: 20px;
		}

		.sobre::-webkit-scrollbar-thumb {
			border-radius: 1em;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
			background-color: #CCCCCC;
		}

		.titulos {
			padding: 0.8em;
			cursor: default;
		}

		.textos {
			width: 80%;
			margin: 5% auto;
			margin-top: 1%;
			text-align: justify;
		}


		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			background-color: #2E2E2E;
		}

		li {
		    float: left;
		}

		li a {
			display: block;
			text-align: left;
		    color: white;
		    padding: 1em 0.2em;
		    padding-right: 2em;
		    text-decoration: none;
			transition: 0.6s;
		}
		.button {
		  	text-decoration: none;
		  	outline: none;
		  	background-color: #2E2E2E;
		  	border: none;
		}

		.button:hover {
			background-color: #936520;
			width: 150%;
			transition: 0.6s;

		}

		.button:active {
		 	background-color: #DD901D;
		 	transform: translateX(0.2em);
		 	transition: none;

		}

	}

/* Escriptori */
@media only screen and (min-width: 768px)
	{

	#menuarriba {
		background-image: url(Images/Cabecerapc.jpg);
		height: 20%;		
		overflow: hidden;
		background-repeat: no-repeat;

		}

	#cuadrotitol {
	background-color: rgba(0,0,0,0.5);
	}

	#titol {
		font-size: 5em;
		color: #FFF;
		margin: 0.5em;
		cursor: default;
		}

	#menulateral {
		background-color: #000;
		height: auto;
		overflow: hidden;
		}

	.contingut {
		background-image: url(Images/fondopc.jpg);
		background-repeat: repeat;
		height: 75%;
		overflow: auto;
		
		}

	.sobre {
		width: 80%;
		height: auto;
		max-height: 90%;
		margin: 4% auto;
		font-family: Times;
		background-color: rgba(255,255,255,0.8);
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		overflow: auto;
		}

	.sobre::-webkit-scrollbar {
		width: 1.2%;
		margin-right: 10px;
		background-color: #F8F8F8;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
		border-radius: 20px;
	}

	.sobre::-webkit-scrollbar-thumb {
		border-radius: 1em;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
		background-color: #CCCCCC;
	}

	.titulos {
		padding-top: 0.8em;
		cursor: default;
		}

	.textos {
		width: 80%;
		margin: 5% auto;
		margin-top: 1%;
		text-align: justify;
		}

	ul {

		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #2E2E2E;
	}

	li {
	    float: left;
	}

	li a {

		display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 14px;
	    text-decoration: none;
		transition: all 0.8s;
	}
	.button {

		display: inline-block;
	  	cursor: pointer;
	  	text-align: center;
	  	text-decoration: none;
	  	outline: none;
	  	color: #fff;
	  	background-color: #2E2E2E;
	  	border: none;
	}

	.button:hover {
		background-color: #936520;
		transition: 0.6s;

	}

	.button:active {
	  background-color: #DD901D;
	  transform: translateY(0.2em);
	  transition: none;
	}
