
	/* Mobil Horitzontal*/
			

@media only screen and (max-width: 767px) and (orientation: landscape)
	{
		#menuarriba {
			min-height: 70px;
			height: 30%;		
			overflow: hidden;
			background-repeat: no-repeat;

		}

		#imgfons1 {
			background-image: url(Images/Cabecera/img3fons1.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}
		#imgfons2 {
			background-image: url(Images/Cabecera/img3fons2.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}
		#imgfons3 {
			background-image: url(Images/Cabecera/img3fons3.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}
		#imgfons4 {
			background-image: url(Images/Cabecera/img3fons4.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}
		#imgfons5 {
			background-image: url(Images/Cabecera/img3fons5.jpg);
			width: 20%;
			height: 100%;
			float: left;
		}

		#cuadrotitol {
			position: absolute;
			width: 100%;
			margin-top: 1.3em;
			height: 3em;
			background-color: rgba(0,0,0,0.5);
		}

		#titol {
			font-size: 2em;
			color: #fff;
			margin-top: 0.2em;
		}
			
		#menulateral {
			background-color: #2E2E2E;
			overflow-y: auto;
			overflow-x: hidden;
			float: none;
		}

		#burguer {
			width: 100%;
			height: 3em;
			position: absolute;
			left: -100%;
			margin: 0;
			padding: 0;
			transition: 0.5s;
			overflow-y: hidden;
			overflow-x: hidden;
		}

		#obri {
			background-color: rgba(255,255,255,0.8); ;
			position: absolute;
			cursor: pointer;
			margin: 0;
			margin-top: 4%;
			padding: 0;
			border-top-right-radius: 1em;
			border-bottom-right-radius: 1em;
			width: 1.5em;
		}

		#obri:hover {
			background-color: #2E2E2E;
			color: white;
		}

		#flecha {
			cursor: pointer;
			color: white;
			font-size: 20px;
			padding-bottom: 50px;
		}

		#flecha:hover {
			background-color: #808080;
			transition: 0.3s;
		}

		#flecha:active {
		 	background-color: #DD901D;
		 	transition: none;
		}

		ul {
			list-style-type: none;
			margin: 0 auto;
			padding: 0;
			background-color: #2E2E2E;
		}

		li {
		    float: left;
		}

		li a {
			font-size: 1em;
			display: block;
			text-align: left;
		    color: white;
		    padding: 0.8em 0.2em;
		    padding-bottom: 40px;

		    text-decoration: none;
			transition: 0.6s;
		}
		.button {
			cursor: pointer;
		  	text-decoration: none;
		  	outline: none;
		  	background-color: #2E2E2E;
		  	border: none;
		}

		.button:hover {
			background-color: #936520;
			transition: 0.6s;
		}

		.button:active {
			cursor: pointer;
		 	background-color: #DD901D;
		 	transform: translateY(0.2em);
		 	transition: none;
		}



		.contingut {
			background-image: url(Images/fondolandscape.jpg);
			height: 70%;
			overflow: auto;
		}

		.sobre {
			width: 80%;
			height: 90%;
			margin: 4% auto;
			font-family: Times;
			background-color: rgba(255,255,255,0.8);
			border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			overflow: auto;
		}

		.sobre::-webkit-scrollbar {
			width: 1.8%;
			margin-right: 10px;
			background-color: #F8F8F8;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
			border-radius: 20px;
		}

		.sobre::-webkit-scrollbar-thumb {
			border-radius: 1em;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
			background-color: #CCCCCC;
		}

		.titulos {
			padding: 0.8em;
			cursor: default;
		}

		.textos {
			width: 80%;
			margin: 5% auto;
			margin-top: 1%;
			text-align: justify;
		}

	}
