
	body {
		background-color: black;
		text-align: center;
		margin: 0;
		border: 0;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
		font-family: Times;
	}

	




/* Mobil */
@media only screen and (max-width: 767px) and (orientation: portrait)
	{
		#menuarriba {
			background-image: url(Images/cabesa1.jpg);
			height: 20%;		
			overflow: hidden;
			background-repeat: no-repeat;

		}
		#menuarriba #titol {
			font-size: 2.5em;
			color: #fff;
			margin: 0.2em auto;
			border: 10px black;
		}
			
		#menulateral {
		background-color: #2E2E2E;
		height: 10%;
		overflow: hidden;
		}

		#contingut {
			background-color: black;
			width: 80%;
			height: 80%;
			float: left;
			overflow: auto;
		}


		ul {

			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #2E2E2E;
		}

		li {
			float: left;
		}

		li a {

			display: inline-block;
		    color: white;
		    padding: 5px 8px;
		    text-decoration: none;
		}
		.button {

		  	text-decoration: none;
		  	color: #fff;
		  	background-color: #2E2E2E;
		  	border: none;
		}

		.button:hover {
			background-color: #936520;
			transition: 0.6s;

		}

		.button:active {
		 	background-color: #DD901D;
		 	transform: translateY(0.2em);
		 	transition: none;
		}

	}

@media only screen and (max-width: 767px) and (orientation: landscape)
	{
		#menuarriba {
			background-image: url(Images/cabesa1.jpg);
			height: 20%;		
			overflow: hidden;
			background-repeat: no-repeat;

		}
		#titol {
			font-size: 2.5em;
			color: #fff;
			margin: 0.2em auto;
		}
			
		#menulateral {
			background-color: #2E2E2E;
			width: 20%;
			height: 80%;
			float: left;
			overflow: auto;
		}

		.contingut {
			background-color: black;
			width: 80%;
			height: 80%;
			float: left;
			overflow: hidden;
		}


		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			background-color: #2E2E2E;
		}

		li {
		    float: left;
		}

		li a {
			display: block;
			text-align: left;
		    color: white;
		    padding: 1em 0.2em;
		    padding-right: 1.5em;
		    text-decoration: none;
			transition: 0.6s;
		}
		.button {
		  	text-decoration: none;
		  	outline: none;
		  	background-color: #2E2E2E;
		  	border: none;
		}

		.button:hover {
			background-color: #936520;
			transition: 0.6s;

		}

		.button:active {
		 	background-color: #DD901D;
		 	transform: translateX(0.2em);
		 	transition: none;

		}

	}

/* Escriptori */
@media only screen and (min-width: 768px)
	{

	#menuarriba {
		background-image: url(Images/Cabezera.jpg);
		height: 20%;		
		overflow: hidden;
		background-repeat: no-repeat;

	}
	#titol {
		font-size: 5em;
		color: #FFF;
		margin: 0.5em;
		cursor: default;
	}

	#menulateral {
		background-color: #000;
		height: auto;
		overflow: hidden;
	}

	.contingut {
		background-image: url(Images/Bloemfontein.jpg);
		background-repeat: repeat;
		height: 75%;
		overflow: auto;
		
	}

	.sobre {
		width: 80%;
		height: 90%;
		margin: 4% auto;
		font-family: Times;
		background-color: white;
		opacity: 0.8;
		border-radius: 15px;
		}

	#historia {
		padding: 1em;
		cursor: default;
		}

	ul {

		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #2E2E2E;
	}

	li {
	    float: left;
	}

	li a {

		display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 14px;
	    text-decoration: none;
		transition: all 0.8s;
	}
	.button {

		display: inline-block;
	  	cursor: pointer;
	  	text-align: center;
	  	text-decoration: none;
	  	outline: none;
	  	color: #fff;
	  	background-color: #2E2E2E;
	  	border: none;
	}

	.button:hover {
		background-color: #936520;
		transition: 0.6s;

	}

	.button:active {
	  background-color: #DD901D;
	  transform: translateY(0.2em);
	  transition: none;
	}
